<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">BMR Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Gender</ion-label>
    <ion-select [(ngModel)]="gender">
      <ion-select-option value="male">Male</ion-select-option>
      <ion-select-option value="female">Female</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Age</ion-label>
    <ion-input type="number" [(ngModel)]="age"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Height (cm)</ion-label>
    <ion-input type="number" [(ngModel)]="height"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Weight (kg)</ion-label>
    <ion-input type="number" [(ngModel)]="weight"></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="calculateBMR()">
    <ion-icon slot="start" name="calculator-outline"></ion-icon>
    Calculate
  </ion-button>

  <ion-item *ngIf="bmr">
    <ion-label>BMR</ion-label>
    <ion-note slot="end">{{bmr}}</ion-note>
  </ion-item>

  <ion-button expand="block" (click)="showResult()">Show Result</ion-button>
</ion-content>
