ion-label {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  ion-input {
    font-size: 1.2rem;
  }
  
  ion-button {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  ion-note {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  ion-item {
    --background: #f4f4f4;
    --border-radius: 8px;
  }
  
  ion-item ion-label {
    color: #0a192f;
  }
  
  ion-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0a192f;
  }
  
  ion-content {
    --background: #edf2f4;
  }