<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">BMI Calculator</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked" class="ion-text-wrap">Height (cm)</ion-label>
    <ion-input type="number" [(ngModel)]="height" class="ion-margin-top"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" class="ion-text-wrap">Weight (kg)</ion-label>
    <ion-input type="number" [(ngModel)]="weight" class="ion-margin-top"></ion-input>
  </ion-item>
<ion-button expand="block" class="ion-margin-top" (click)="calculateBMI()">Calculate</ion-button>

<ion-item *ngIf="bmi" class="ion-margin-top">
<ion-label>BMI</ion-label>
<ion-note slot="end">{{bmi}}</ion-note>
</ion-item>

<ion-item *ngIf="bmi" class="ion-margin-top">
<ion-label>Result</ion-label>
<ion-note slot="end">{{getResult()}}</ion-note>
</ion-item>

<ion-button expand="block" class="ion-margin-top" (click)="showResult()">Show Result</ion-button>
</ion-content>