<ion-header>
  <ion-toolbar>
    <ion-title>
      About Me
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <img src="assets/imgs/profile.jpg" />
    <ion-card-header>
      <ion-card-title>Peerapat Visthsri</ion-card-title>
      <ion-card-subtitle>Web Developer</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Hi , Peerapat Visithsri</p>
      <p>My contact</p>
      <ul>
        <li>Facebook : Peerapat Visithsri</li>
        <li>Instagram : p.rapatvs</li>
        <li>Phone : 063-421-7459</li>
        <li>Line : runningfloor</li>
        <li>My Email : peerapat.vi@ku.th</li>
        
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>